<div class="converter">
  <h2 class="converter__title">Currency Converter</h2>
  <div class="converter__form-group">
    <select class="converter__select" id="selectedCurrency1" [(ngModel)]="selectedCurrency1"
      (change)="onCurrencyChange()">
      <option class="converter__selecet-option" *ngFor="let currency of getFilteredCurrencies(selectedCurrency2)"
        [value]="currency">
        {{ currency }}
      </option>
    </select>
    <input class="converter__input" type="number" [(ngModel)]="amount1" (input)="onAmountChange('amount1')"
      placeholder="100.00" />
  </div>
  <div class="converter__form-group">
    <select class="converter__select" id="selectedCurrency2" [(ngModel)]="selectedCurrency2"
      (change)="onCurrencyChange()">
      <option class="converter__selecet-option" *ngFor="let currency of getFilteredCurrencies(selectedCurrency1)"
        [value]="currency">
        {{ currency }}
      </option>
    </select>
    <input class="converter__input" type="number" [(ngModel)]="amount2" (input)="onAmountChange('amount2')"
      placeholder="100.00" />
  </div>
</div>